header {
  background-color: blue;
}

nav {
  background-color: red;
}



@media (max-width: 800px) {
  /*so anything in this box only applies when my screen is 800px or smaller
  use em instead of px to make it proportional when you zoom in*/
  header{
    background-color: yellow;
  }
  
  }
}
@media (max-width: 500px) {
 nav {
    background-color: green; 
}







  
  